<div class="curr-exchange" [formGroup]="converterForm">
    <h2> Обмен валют</h2>
    <div class="data_input">
        <div>
            <label class="alert" *ngIf="converterForm.controls['amount1'].invalid">Некорректный ввод</label>
            <input class="currency-value" formControlName="amount1" (input)="convertCurrency('from')" />
        </div>
        <select class="select_curr" formControlName="currency1" (change)="convertCurrency('from')">
            <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
        </select>
    </div>
    <div class="data_input">
        <div>
            <label class="alert" *ngIf="converterForm.controls['amount2'].invalid">Некорректный ввод</label>
            <input class="currency-value" formControlName="amount2" (input)="convertCurrency('to')" />
        </div>
        <select class="select_curr" formControlName="currency2" (change)="convertCurrency('to')">
            <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
        </select>
    </div>
</div>